/**
	微聊布局板块样式
	layout.css
	Created by Andy on 2018-03-21
 */

 /* __ 边框、阴影、过渡 */

.splitline::after{content: ''; border-right: 1px solid #f5c106; position: absolute; top: .25rem; bottom: .25rem; right: 0;}
.splitlineL::after{content: ''; border-left: 1px solid #f5c106; position: absolute; top: .25rem; bottom: .25rem; left: 0;}
.shadowB{box-shadow:0 .01rem .1rem rgba(100,100,100,.1);}
.transit{transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;}
/* __ 触摸模拟(active) */
.wc__material-cell:active{background-color: #f3f3f3!important;}
/* __ 消息提示(圆点) */
.wc__badge{background-color: #ff3b30; border-radius: 18px; color: #fff; display: inline-block; font-size: 12px; font-family: Verdana; text-align: center; padding: 0 4px; line-height: 14px; min-width: 8px; vertical-align: middle;}
.wc__badge-dot{padding: 5px; min-width: 0;}
/* __ 边框线(border) */
.wc__borT, .wc__borB{position: relative;}
.wc__borT:before{content: ''; border-top: 1px solid #d9d9d9; color: #d9d9d9; height: 1px; width: 100%; position: absolute; left: 0; top: 0; transform: scaleY(0.5); -webkit-transform: scaleY(0.5);}
.wc__borB:after{content: ''; border-bottom: 1px solid #d9d9d9; color: #d9d9d9; height: 1px; width: 100%; position: absolute; left: 0; bottom: 0; transform: scaleY(0.5); -webkit-transform: scaleY(0.5);}
/* __ 箭头(arrow) */
.wc__arr:after{content: ''; border-color: #d9d9d9; border-style: solid; border-width: .06rem .06rem 0 0; display: inline-block; vertical-align: middle; margin-right: -.07rem; height: .45rem; width: .45rem; position: relative; transform: rotate(45deg) scale(.5); -webkit-transform: rotate(45deg) scale(.5);}
/* __ 顶部主题色 */
.wc__theme01{background-color: #dccda0!important;}


/* …… 微聊布局.layout {{{ …… */
.wechat__panel{-webkit-touch-callout:none; -webkit-user-select:none; -moz-user-select:none; user-select:none; -webkit-tap-highlight-color: transparent;}
.wc__home-wrapper{height: calc(100vh); position: relative;}

/* __ 顶部条 */
.wc__headerBar .inner{background:#32CD32; height:1rem; width:100%; z-index:999; position:relative;}
.wc__headerBar.fixed{padding-bottom:1rem;}
.wc__headerBar.fixed .inner{max-width:750px; width:100%; position:fixed; top:0;}
.wc__headerBar .inner a:active{background-color: #f1c500;}
.wc__headerBar .inner.wc__theme01 a:active{background-color: #d1c08f;}
.wc__headerBar .inner .barTit{color:#fff; font-size:.32rem; font-family: 'Microsoft Yahei'; margin-left: .25rem; line-height:1rem; position: relative;}
.wc__headerBar .inner .barTxt{color:#fff; font-size:.24rem; font-family: 'Microsoft Yahei'; padding: 0 .3rem; line-height:1rem; position: relative;}
.wc__headerBar .inner .barTitLg{font-size: .36rem; padding-left: .1rem;}
.wc__headerBar .inner .close{background: url(../img/topbar/icon__close-white.png) no-repeat center;background-size:.4rem; width:1.02rem;position: relative;}
.wc__headerBar .inner .back{background: url(../img/topbar/icon__back-white.png) no-repeat center;background-size:.4rem; width:1.02rem; position: relative;}
.wc__headerBar .inner .barIco{width:1.02rem; position: relative;}
.wc__headerBar .inner .u-one{background: url(../img/topbar/icon__user.png) no-repeat center; background-size:.4rem;}
.wc__headerBar .inner .u-qun{background: url(../img/topbar/icon__users.png) no-repeat center; background-size:.4rem;}
.wc__headerBar .inner .sear{background: url(../img/topbar/icon__sear.png) no-repeat center; background-size:.4rem;}
.wc__headerBar .inner .add{background: url(../img/topbar/icon__add.png) no-repeat center; background-size:.4rem;}

/* .wechat__tabBar{padding-top: 1.1rem;} */
.wechat__tabBar .bottomfixed{background: #fafafa; max-width:750px; height: 1.1rem; width: 100%; /*position: fixed; bottom: 0;*/ z-index: 1001;}
.wechat__tabBar .bottomfixed:before{border-top-color: #979797; color: #979797;}
.wechat__tabBar ul{text-align: center; height: 1.1rem;}
.wechat__tabBar ul li{background:none; border-radius:0; opacity:1; height: 1.1rem; width: auto;}
.wechat__tabBar ul li .ico{display: inline-block; vertical-align: top; margin-top: .12rem; height: .48rem; width: .48rem; position: relative;}
.wechat__tabBar ul li .ico.i1{background: url(../img/tabbar/icon_chat.png) no-repeat center; background-size: .48rem;}
.wechat__tabBar ul li .ico.i2{background: url(../img/tabbar/icon_abook.png) no-repeat center; background-size: .48rem;}
.wechat__tabBar ul li .ico.i3{background: url(../img/tabbar/icon_explore.png) no-repeat center; background-size: .48rem;}
.wechat__tabBar ul li .ico.i4{background: url(../img/tabbar/icon_me.png) no-repeat center; background-size: .48rem;}
/* 选中 */
.wechat__tabBar ul li.on .ico.i1, .wechat__tabBar ul li.swiper-pagination-bullet-active .ico.i1{background: url(../img/tabbar/icon_chat_HL.png) no-repeat center; background-size: .48rem;}
.wechat__tabBar ul li.on .ico.i2, .wechat__tabBar ul li.swiper-pagination-bullet-active .ico.i2{background: url(../img/tabbar/icon_abook_HL.png) no-repeat center; background-size: .48rem;}
.wechat__tabBar ul li.on .ico.i3, .wechat__tabBar ul li.swiper-pagination-bullet-active .ico.i3{background: url(../img/tabbar/icon_explore_HL.png) no-repeat center; background-size: .48rem;}
.wechat__tabBar ul li.on .ico.i4, .wechat__tabBar ul li.swiper-pagination-bullet-active .ico.i4{background: url(../img/tabbar/icon_me_HL.png) no-repeat center; background-size: .48rem;}
.wechat__tabBar ul li .ico .wc__badge{position: absolute; top: -2px; right: -16px;}
.wechat__tabBar ul li .ico .wc__badge-dot{right: -6px;}
.wechat__tabBar ul li span{color: #999; display: block; font-size: .24rem; margin-top:.05rem;}
.wechat__tabBar ul li.on span{color: #ffba00;}
.wechat__tabBar ul li.swiper-pagination-bullet-active span{color: #ffba00;}


/* __ 聊天面板区 */
.wc__chat-wrapper{height: calc(100vh); position: relative;}
.wc__chatMsg-panel{overflow: auto; -webkit-overflow-scrolling: touch; width: 100%; position: relative;}
.wc__chatMsg-panel .chatMsg-cnt{padding: .15rem; position: relative;}
.chatMsg-cnt ul li{display:-webkit-box; display:-webkit-flex; display:flex; display:-ms-flexbox; margin-bottom: .25rem;}
.chatMsg-cnt ul li.time{padding-top: .25rem;}
.chatMsg-cnt ul li.time span{background: rgba(0,0,0,.1); color: #fff; border-radius: .05rem; display: block; font-size: .22rem; font-family: Verdana; overflow: hidden; margin: 0 auto; padding: .05rem .1rem; line-height: normal; max-width: 90%;}
.chatMsg-cnt ul li.notice span{background: rgba(0,0,0,.1); color: #fff; border-radius: .05rem; display: block; font-size: .24rem; font-family: Verdana; overflow: hidden; margin: 0 auto; padding: .1rem; line-height: normal; max-width: 90%;}
.chatMsg-cnt ul li.notice span a{color: #0060a0;}
.chatMsg-cnt ul li .avatar{display: block; overflow: hidden; height: .8rem; width: .8rem;}
.chatMsg-cnt ul li .avatar img{vertical-align: top; height: 100%; width: 100%;}
.chatMsg-cnt ul li .content{-webkit-box-flex:1; -webkit-flex:1; -ms-flex:1; flex:1;}
.chatMsg-cnt ul li .content .author{color: #aaa; font-size: .2rem; margin: 0 .2rem;}
.chatMsg-cnt ul li .content .msg{border-style: solid; border-width: 1px; border-radius: .07rem; color: #333; float: left; font-size: .28rem; margin: 0 .2rem; padding: .2rem; word-wrap: break-word; word-break: break-all; min-height: .6rem; max-width: 5.4rem; position: relative; transition: all .3s;}
.chatMsg-cnt ul li .content .msg .face{vertical-align: top; height: .4rem;}
.chatMsg-cnt ul li .content .msg .lg-face{vertical-align: top; max-height: 2.5rem; max-width: 2.5rem;}
.chatMsg-cnt ul li .content .msg a{color: #0060a0;font-family: arial;}
.chatMsg-cnt ul li .content .msg a:active{background-color: #c2e6fd;}
.chatMsg-cnt ul li.others .content .msg{background-color: #fff; border-color: #f0f0f0;}
.chatMsg-cnt ul li.others .content .msg:active, .chatMsg-cnt ul li.others .content .msg.taped{background-color: #f2f2f2; border-color:#e9e9e9;}
.chatMsg-cnt ul li.me .content .author{text-align: right;}
.chatMsg-cnt ul li.me .content .msg{float: right; background-color: #ffee5c; border-color: #f5dd25;}
.chatMsg-cnt ul li.me .content .msg:active, .chatMsg-cnt ul li.me .content .msg.taped{background-color: #ecd412; border-color: #e0c600;}
.chatMsg-cnt ul li .content .msg:before{content: ''; display: inline-block; border-style: solid; border-width: .01rem .01rem 0 0; height: .2rem; width: .2rem; position: absolute; top: .3rem;}
.chatMsg-cnt ul li.others .content .msg:before{background: inherit; border-color: inherit; left: -.115rem; transform: translate(0, -50%) rotate(-135deg);}
.chatMsg-cnt ul li.me .content .msg:before{background: inherit; border-color: inherit; right: -.11rem; transform: translate(0, -50%) rotate(45deg);}
.chatMsg-cnt ul li .content .picture:before, .chatMsg-cnt ul li .content .video:before{display: none;}
.chatMsg-cnt ul li .content .picture, .chatMsg-cnt ul li .content .video{background-color: transparent!important; border-width: 0; border-radius:.07rem; padding: 0; overflow: hidden; position: relative;}
.chatMsg-cnt ul li .content .picture.taped, .chatMsg-cnt ul li .content .video.taped{opacity: .5;}
.chatMsg-cnt ul li .content .picture .img__pic, .chatMsg-cnt ul li .content .video .img__video{vertical-align: top; pointer-events: none; max-height: 5.4rem; max-width: 5.4rem}
.chatMsg-cnt ul li .content .video:after{content: ''; background: url(../img/wchat/icon-play.png) no-repeat center; background-size: .6rem; height: 100%; width: 100%; position: absolute; left: 0; top: 0;}
.chatMsg-cnt ul li .content .lgface{background-color: transparent!important; border-width: 0; border-radius:0; padding: 0; overflow: hidden; position: relative;} /*大表情*/

/* 底部编辑器部分 */
.wc__footTool-panel{background: #fbf9fe; max-width: 750px; width: 100%; z-index: 1005;}
/* 编辑器 */
.wc__editor-panel{padding: .15rem .25rem; align-items: flex-end;}
.wc__editor-panel .wrap-editor{max-width: 100%;}
.wc__editor-panel .wrap-editor .editor{background: none; border-bottom: 1px solid #e3e3e3; color: #333; caret-color: #ffd100; font-size: .28rem; padding: .1rem .15rem; overflow-y: auto; overflow-x: hidden; outline: none; word-wrap: break-word; word-break: break-all; line-height: .4rem; max-height: 2.3rem; max-width: 100%; transition: border-color .3s;}
.wc__editor-panel .wrap-editor .editor:focus{border-bottom-color: #ffd100;}
.wc__editor-panel .wrap-editor .editor .face{vertical-align: middle; height: .4rem;}
.wc__editor-panel .btn{margin-left: .15rem; height: .7rem; width: .7rem;}
.wc__editor-panel .btn-emotion{background: url(../img/wchat/icon__emotion.png) no-repeat; background-size: cover;}
.wc__editor-panel .btn-choose{background: url(../img/wchat/icon__choose.png) no-repeat; background-size: cover;}
.wc__editor-panel .btn-submit{background: #80ff80; border: 0; border-radius: .05rem; color: #fff; font-size: .28rem; font-family: "Microsoft Yahei"; outline: none; margin-left: .2rem; margin-bottom: .04rem; padding: 0 .15rem; height: .6rem;}